<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../template/head'); %>
</head>
<body class="container">

<header>
    <%- include('../template/navigation'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>About Indago</h1>
            <p>Indago uses the AnkiConnect API to allow students to connect their Anki accounts and practice flashcards interactively with everyone on the server, or individually!</p>
            <p>It allows users to create multiple personal schedules which they can keep updated and have read out to them.</p>
            <p>Users can also make use of the translation function to translate a given input to any language, and apart from the productivity functions the bot can also come into a voice channel and play audio from YouTube videos!</p>
            <p>We also have some new exciting features on the way, so stay tuned!</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <img class="img-fluid" src="/images/indago.png" />
        </div>
        <div>
            <img class="img-fluid" src="/images/discord.png" />
        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../template/footer'); %>
</footer>

</body>
</html>