<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../template/head'); %>
</head>
<body class="container">

<header>
    <%- include('../template/navigation'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Hi! Welcome To Indago!</h1>
        <p>I am a Bot made to improve a students life on Discord!</p>
        <p>If you wish to add me to your discord server, please click the 'Add To Server' header!</p>
    </div>
</main>

<footer>
    <%- include('../template/footer'); %>
</footer>

</body>
</html>

<!-- Welcome to Indago!
This website is a work-in-progress.
Thanks For Visiting! And we hope you enjoy!! -->